<% include ./head.ejs %>
<body>
    <h1>liste utilisateurs</h1>
    <div class="forms">
        <p>
            <label for="nb1">Nom</label>
            <input type="text"  id="nom" name="nom" >
        </p>
        <p>
            <label for="nb2">Prenom</label>
            <input type="text" id="prenom" name="prenom" > 
        </p> 
    </div>
    <button  id="add">Ajouter utilisateur</button>
    <div id="utilisateurs"></div>
</body>
